#mainContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 12vh;
  }
  #mainContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #mainContainer form {
    display: flex;
    flex-direction: column;
  }
  
  #mainContainer input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #mainContainer input[type="submit"] {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4c8bd7;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #mainContainer input[type="submit"]:hover {
    background-color: #000;
    color: #4c8bd7;
  }


  
  #mainContainer p {
    text-align: center;
    font-size: 16px;
  }
  
  #mainContainer a {
    text-decoration: none;
  }
  
  #mainContainer a:hover {
    text-decoration: underline;
  }
  
  #mainContainer .errorMsg {
    color: red;
    margin-top: -15px;
    font-size: 1rem;
    text-align: left;
  }
  
  #loginLink a {
    color: #000;
  }
  